
cifar10/batches.meta
cifar10/data_batch_1
cifar10/data_batch_2
cifar10/data_batch_3
cifar10/data_batch_4
cifar10/data_batch_5
cifar10/test_batch
figs/fig_1.png
figs/fig_10.png
figs/fig_2.png
figs/fig_3.png
figs/fig_4.png
figs/fig_5.png
figs/fig_6.png
figs/fig_7.png
figs/fig_8.png
figs/fig_9.png
TA_DL_Fall2021_TF2_and_Keras.ipynb
figs/model.png
figs/MLP_loss.png
figs/MLP_confusion.png
figs/MLP_acu.png
figs/first10.png
.ipynb_checkpoints/q1-checkpoint.ipynb
cifar10_MLP_model.h5
figs/MLP_loss_64.png
figs/MLP_loss_256.png
figs/MLP_confusion_64.png
figs/MLP_confusion_256.png
figs/MLP_acu_64.png
figs/MLP_acu_256.png
figs/dist.png
*.h5
*.png
*.xml
.idea/Deep-learning-cnn.iml
HW2-99205372.docx
HW2-99205372.pdf
HW2-99205372.rar
i-know-kung-fu.jpg
